<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">URL Shortener</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "Sign-in", user_session_path, class: "nav-link", style: "background: none; border: none; color: green" unless user_signed_in? %>
            <%= button_to 'Sign-Out', destroy_user_session_path, class: "nav-link", style: "background: none; border: none; color: red", method: :delete if user_signed_in? %>
          </li>

          <li class="nav-item ">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><%= "Welcome #{current_user.email}" if current_user %></a>
          </li>
        </ul>
        <%= form_with model: @link, class: "d-flex", remote: true do |f| %>
          <%= f.text_field :long_url, class: "form-control me-2", style: "width: 800px" , placeholder: "Enter URL here" %>
          <%= f.text_field :alias, class: "form-control me-2", style: "width: 200px",  placeholder: "Enter Alias here" %>
          <%= f.submit 'Generate', class: "btn btn-outline-success" %>
        <% end %>
      </div>
    </div>
  </nav>
  <div>
  <h4 data-controller='clipboard' class="container alert alert-success text-center">
    <button class="btn btn-outline-dark w-25" data-action="click->clipboard#copy">COPY</button>
    <span data-clipboard-target="source"><%= @link.recent_shortened_url %></span>
  </h4>
  </div>
  <h1 class="text-center">List of URL</h1>  <%= link_to "Export CSV", links_path(:format => :csv), :class => "btn btn-default" %>
  <p class="notice" style="color: green"><%= notice %></p>
  <p class="alert" style="color: red"><%= alert %></p>
</header>

<div>
  <%if user_signed_in? %>
  <table class="table text-center ">
    <thead >
    <tr>
      <th>Code</th>
      <th>Default URL</th>
      <th>Shortened URL</th>
      <th>Total Click Counts</th>
      <th colspan="2">User Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <% @links.each do |link| %>
    <tbody>
    <tr>
      <td><%= link.code %></td>
      <td><%= link.long_url %></td>
      <td><%= link_to link.shortened_url, post_path(link), target: '_blank' %></td>
      <td><%= link.click %></td>
      <td><%= request.user_agent.truncate(50) %></td>
      <td><%= request.remote_ip %></td>
      <td></td>
      <td><%= button_to 'Delete', post_path(link), method: :delete, class: "btn btn-danger" %></td>

    </tr>
    </tbody>
      <% end %>
  </table>
<% end %>
</div>


